POSTGRES_USER=postgres
# Development default. `manage.sh start --prod` replaces this placeholder
# with a unique password and synchronizes an existing database volume.
POSTGRES_PASSWORD=change-me
POSTGRES_DB=private_banking
DB_PORT=3026
