@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    @apply bg-white;
  }

  @page {
    size: A3 landscape;
    margin: 1cm;
  }
}
