# Dependencies
node_modules
npm-debug.log*

# Build output
dist

# Testing
coverage
*.lcov

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md
LICENSE
