<button type="button" class="btn btn-sm btn-outline-info"
    data-bs-toggle="modal" data-bs-target="#editModal"
    data-tx-id="{{ tx.id }}"
    data-tx-date="{{ tx.date|date:'Y-m-d' }}"
    data-tx-desc="{{ tx.description }}"
    data-tx-amount-out="{{ tx.amount_out }}"
    data-tx-amount-in="{{ tx.amount_in }}"
    data-tx-balance="{{ tx.balance|default:'' }}"
    data-tx-cat="{{ tx.category|default:'' }}"
    data-tx-memo="{{ tx.memo|default:'' }}"
    data-tx-bank="{{ tx.bank_name|default:'' }}"
    data-tx-branch="{{ tx.branch_name|default:'' }}"
    data-tx-account-type="{{ tx.account_type|default:'' }}"
    data-tx-account="{{ tx.account_id|default:'' }}">詳細</button>
